
.tastebud-logo {
  height: 10vh;
}

.nav a {
  background: transparent;
}

.navbar-default, :active {
  background: #e26b904a;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #555;
  padding-bottom: 32px;
  border-radius: 5px;
}