<nav class="navbar navbar-default tastebud-header">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/"><img class="tastebud-logo" src="../assets/tastebuds-logo.png" alt=""></a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
      <!-- click events substituted by routes, see personal notes -->
      <!-- lets you add a CSS class to an element when the link's route becomes active -->
      <li routerLinkActive="active"><a routerLink="/dishes">Dishes</a></li>
      <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown"
      appDropdown>
        <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer;" (click)="onSaveData()">Saving Data</a></li>
          <li><a style="cursor: pointer;" (click)="onFetchData()">Fetching Data</a></li>
        </ul>
      </li>
    </ul>
  </div>
  </div>
</nav>
