<!-- adding local references on name and amount -->
<!-- two options: passing them as arguments or using @ViewChild -->
<!-- once button clicked, using values of input to create new ingredient-->
<div class="row">
  <div class="col-xs-12">
   <form (ngSubmit)="onSubmit(f)" #f="ngForm">
     <div class="row">
       <div class="col-sm-4 form-group">
         <label for="name">Name</label>
         <input 
         type="text" 
         id="name" 
         class="form-control"
         name="iname"
         ngModel
         required>
       </div>
       <div class="col-sm-2 form-group">
         <label for="amount">Amount</label>
         <input 
         type="number" 
         id="amount" 
         class="form-control"
         name="iamount"
         ngModel
         required
         [pattern]="'^[1-9]+[0-9]*$'">
         <!-- shortcut: pattern=^[1-9]+[0-9]*$  -->
       </div>
     </div>
     <div class="row">
       <div class="col-xs-12">
<!-- bc of using @ViewChild, not necessary to pass arguments -->
<!-- debug: preventing page reload; changing type='submit' to button  -->
         <button class="btn btn-warning" type="submit" [disabled]="!f.valid">{{editMode ? 'Update' : 'Add'}}</button>
         <button class="btn btn-danger" type="button" (click)="onDelete()">Delete</button>
         <button class="btn btn-warning" type="button" (click)="onClear()">Clear</button>
       </div>
     </div>
   </form>
  </div>
</div>