<!-- selectedDish can also be a method, 
  but since logic is little, it's enough to put it in the template  -->
<div class="row">
  <div class="col-md-5">
    <app-dishes-list
    (dishWasSelected)="selectedDish = $event"></app-dishes-list>
  </div>
  <div class="col-md-7">
<!-- ngIf bc only display when dish is selected -->
<!-- ng-template receives a local reference (#) -->
<!-- facilitates ngIf - else syntax -->
  <app-dishes-detail
  *ngIf="selectedDish; else infoText"
  [dish]="selectedDish"
  ></app-dishes-detail>
  <ng-template #infoText>
    <p>Select your fav dish!</p>
  </ng-template>
  </div>
</div>